<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx-pjjWyRjTCc49Jko6_akMok2T7jReSk</string>
	<key>GCM_SENDER_ID</key>
	<string>220956613861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blastlystudios.smartprinter</string>
	<key>PROJECT_ID</key>
	<string>smart-printer-wireless</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-printer-wireless.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220956613861:ios:3c8a68776c7f1480a0880c</string>
</dict>
</plist>